<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name="region" connectionString="&#xD;&#xA;                        Data source = localhost;&#xD;&#xA;                        Initial Catalog = RegionCity;&#xD;&#xA;                        Integrated Security = false;&#xD;&#xA;                        user = sa;&#xD;&#xA;                        password = student;&#xD;&#xA;                        Connect Timeout = 15;&#xD;&#xA;                      " />
        <add name="_02_Relations.Properties.Settings.RegionCityConnectionString"
            connectionString="Data Source=127.0.0.1;Initial Catalog=RegionCity;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>